#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.dayBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  width: 350px;
  height: fit-content;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 25px;
  min-height: 300px;
}

.buffer {
  margin: 100px;
}

.day {
  margin: 25px 0px 25px 0px;
}

.dish {
  margin: 25px 0px 50px 0px;
  font-size: large;
}

button {
  background-color: transparent;
}

.addButton {
  font-size: larger;
}

.clearButton {
  font-size: x-small;
}

.recipeBox {
  width: 400 px;
  height: fit-content;
  min-height: 300 px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeDisplay {
  display: flex;
  flex-direction: row;
  width: fit-content;
  max-width: 400 px;
  flex-wrap: wrap;
  align-items: center;
}

.recipe {
  display: flex;
  flex-direction: column;
  width: 250 px;
  height: auto;
  min-height: 200px;
  margin: 25px;
  padding: 50px;
  border: solid black 3px;
  border-radius: 25px;
}

.recipeName {
  font-size: larger;
  font-weight: bold;
}

input[type='text'] {
  background-color: transparent;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

select {
  background-color: transparent;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  /* margin-right: 25px; */
}

.shoppingList {
  list-style-type: none;
}
